html{
    height:100%;
}

body{
    display:flex;
    justify-content: center;
    height:100%;
}

.mainSect{
    height: 500px;
    width: 500px;
    align-self: center;
}

#confirmPlayerName{
    height:250px;
    display:flex;
    justify-content: center;
}

#buttons{
    height:250px;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}

input[type="submit"]{
    height:50px;
    align-self: center;
    justify-self: center;
    border: 2px solid rgb(255, 166, 0);
    background-color: #E0AAFF;
}

button{
    height:50px;
    width:200px;
    align-self: center;
    justify-self: center;
    border: 2px solid rgb(255, 166, 0);
    background-color: #E0AAFF;
}

button:hover{
    background-color: #C77DFF;
}

button:active{
    background-color: #9D4EDD;
    border: 2px solid rgb(251, 255, 0);
}

input[type="text"]{
    height:25px;
    align-self: center;
    border: 2px solid rgb(255, 166, 0);
}